@model EducationalPlatformWebApp.Models.Achievement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Achievement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AchievementDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AchievementDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AchievemrnDateEarned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AchievemrnDateEarned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AchievementType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AchievementType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Badge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Badge.BadgeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Learner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Learner.LearnerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AchievementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
